 body{
            font-family: gilmoray, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            color: white;
            background-color: black;
            text-decoration: none;
        }
        a{
            color:inherit;
            text-decoration: none;
        }


        #p-style1{
            font-size: 30px;
            margin-bottom: -20px;
            margin-top: 5px;
        }

        #p-style2{
            font-size: 30px;
            margin-top: 0px;
        }

        #umbrella{
            font-size: 60px;
            font-weight: 800;
            margin-bottom: 0px;
            letter-spacing: 5px;
        }

        #weather{
            margin-top: 30px;
            font-size:30px;
        }
        #status{
            font-size:30px;
        }
        #weather-box{
            position: relative;
            border: 2px solid white; /* Box border */
            padding: 5px 10px;           /* Padding inside the box */
            margin-top: 0px;        /* Spacing between the box and other content */
            background-color: rgba(51, 51, 51, 0.7); /* Dark grey with 80% opacity */
            text-align: center;      /* Center the text inside the box */
            width: 15%;              /* Adjust the width of the box (optional) */
            max-width: 600px;        /* Ensure the box doesn't get too wide on larger screens */
        }

        #selection-box{
            border: 2px solid white; /* Box border */
            padding: 5px 10px;           /* Padding inside the box */
            margin-top: 10px;        /* Spacing between the box and other content */
            background-color: rgba(51, 51, 51, 0.7); /* Dark grey with 80% opacity */
            text-align: center;      /* Center the text inside the box */
            width: 15%;              /* Adjust the width of the box (optional) */
            max-width: 600px;        /* Ensure the box doesn't get too wide on larger screens */
        }

        #selection-list{
            list-style-type: none;
            padding: 6px 60px;
            text-align: left;
            font-size: 22px;
            line-height: 1.5;

        }


        #selection-list li:hover {
            display: inline-block; /* Make the list item inline */
            background-color: lightgray;
            color: black;
            cursor:pointer;
    }

        #keyword-box{
            position: relative;
            border: 2px solid white; /* Box border */
            padding: 5px 10px;           /* Padding inside the box */
            margin-top: 10px;        /* Spacing between the box and other content */
            background-color: rgba(51, 51, 51, 1); /* Dark grey with 80% opacity */
            text-align: center;      /* Center the text inside the box */
            width: 30%;              /* Adjust the width of the box (optional) */
            height: 6%;
            max-width: 600px;        /* Ensure the box doesn't get too wide on larger screens */
            opacity: 0;
            visibility: hidden;
            transition: opacity 2s ease, visibility 2s ease;
        }

        #keyword-box.show{
            opacity: 1;
            visibility: visible;

        }

        #question{
            margin-top: -90px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 2s ease, visibility 2s ease;

        }

        #question.show{
            opacity: 1;
            visibility: visible;
            display: block;

        }

        #keyword-input{
            border: 0px;
            background-color: rgba(51, 51, 51, 1);
            color:white;
            width:100%;
            height: 100%;
            text-align: center;
            font-family: Gilmoray;
            font-size: 30px;

        }



        #suggestions{
            color:darkgrey;
            visibility: hidden;
            opacity: 0;
            transition: opacity 2s ease, visibility 2s ease;
            margin-top: 10px;
        }

        #suggestions.show{
            opacity: 1;
            visibility: visible;
        }

        .tag{
            color: white;
            background-color: rgb(51, 51, 51);
            border-radius: 20px;
            padding: 5px;
            margin: 5px;
            text-align: center;
            opacity: 0;
            transition: opacity 1s ease, visibility 1s ease;
            visibility: hidden;
            font-size: 20px;

        }

        .show{
            opacity: 1;
            visibility: visible;
        }

        .hide{
            opacity: 0;
            visibility: hidden;
        }

        #tag-container{
            position: absolute;
            margin-top: 180px;
        }

        #resultsButton{
               position: relative;
            border: 2px solid white; /* Box border */
            padding-top: 20px;           /* Padding inside the box */
            margin-top: 80px;        /* Spacing between the box and other content */
            background-color: rgba(51, 51, 51, 1); /* Dark grey with 80% opacity */
            text-align: center;      /* Center the text inside the box */
            width: 4%;              /* Adjust the width of the box (optional) */
            height: 4%;
            max-width: 600px;        /* Ensure the box doesn't get too wide on larger screens */
            opacity: 0;
            visibility: hidden;
            transition: opacity 2s ease, visibility 2s ease;
            font-size: 20px;
            cursor: pointer;

        }

        #resultsButton.show{
            opacity: 1;
            visibility: visible;
        }


