<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella</title>
    <link rel ="stylesheet" href="/static/css/styles.css"></link>
</head>
<body>

    <p id="umbrella">umbrella</p>
    <p id="p-style2">streetwear for any weather</p>

    <div id="weather-box">
        <div id="p-style1" ><span id = "city">City</span>, <span id = "country">Country</span></div>
        <div id="weather">Fetching weather data...</div>
        <div id="status">Fetching weather status...</div>
    </div>
    <div id = "selection-box">
        <ul id="selection-list">
            <li id="startBtn">start</li>
            <li>credits</li>
            <li> <a href="https://github.com/Mehaip">github</a></li>
        </ul>
    </div>
    <div id = "question" style="font-size: 36px">What do you wear?</div>

    <div id = "keyword-box">
        <input type="text" id="keyword-input" placeholder="Relevant words that define your style.">
    </div>
    <div id = "suggestions" style="font-size: 20px">use short terms such as: 'baggy', 'classy', 'short', 'colored', 'green', 'black' etc</div>

    <div id = "resultsButton">Results</div>

    <div id="tag-container"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>

</body>
</html>
